venv
.idea
__pycache__
*.log
data/*.log
.env
docker.env
!Group Projects.ipynb
*.ipynb
**/*.log
.docker.env
.mysql.env
.host.env
**/.pytest_cache/
**/opt/
pytest-results.xml
out
.prod.env
.worker.env
.vscode/
