# CODEOWNERSHIP

backend/ @longpollehn

crawler/ @longpollehn

docker/my.cnf @longpollehn

docker/mysql.cnf @longpollehn

docker/python.Dockerfile @longpollehn

docker/frontend.Dockerfile @coolusaHD

frontend/ @coolusaHD

.pylintrc @longpollehn

.example.mysql.env @longpollehn

requirements.dev.txt @longpollehn
requirements.prod.txt @longpollehn
